body {
    background-color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 11pt;
    text-emphasis-color: #ff0000;
    color: #404040;
    background-image: url(images/silverware.jpg);
}

h1,h2,h3,h4,h5 {
    color: #a4a400;
    background-color: #f0f0f0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2,h3,h4,h5 {
    text-align: left;
    font-size: 18pt;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}

.usercomments {
    text-align:justify;
    background-color: #FFFFA8;
    font-style: italic;
    background-position: center;
    margin-right: 5%;
    margin-left: 5%;
}

a {
    color: #a4a400;
}

ul {
    list-style-image: image('pie-bullet.gif');
}

.copyright {
    font-family: monospace;
}